/* Common styles */
@import url('./container.css');
@import 'izitoast/dist/css/iziToast.min.css';
@import 'simplelightbox/dist/simple-lightbox.min.css';

/* Sections style */
.form {
  width: 371px;
  max-height: 40px;
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.search-input {
  font-weight: 400;
  color: #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding-left: 15px;
  border: 0.7px solid #808080;
}

.search-input:hover {
  border: 1px solid #303030;
}

.search-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  font-weight: 500;
  background: #4e75ff;
  color: #fff;
  border: none;
  transition: background-color 250ms linear;
}

.search-btn:hover {
  background-color: #6c8cff;
}

.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.gallery-item {
  border: 1px solid #808080;
}

.gallery-img {
  object-fit: cover;
  display: block;
  width: 360px;
  height: 152px;
}

.image-stats {
  display: flex;
  justify-content: space-around;
  padding: 4px 0;
}

.image-stats p {
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: center;
  color: #333;
  font-weight: 400;
  font-size: 12px;
}

.image-stats b {
  margin-bottom: -10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.hidden {
  display: none;
}

.loader:after {
  content: '';
  background: #18dc7a;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  transform-origin: -16px -32px;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0%,
  100% {
    transform: rotate(-45deg) translate(-50%, -50%);
  }
  50% {
    transform: rotate(-245deg) translate(-50%, -50%);
  }
}
